<H1 class="title">Main Page</H1>
<div>
    <mat-card class="card">
        <p class="text">Code examples based on Angular 8.</p>
        <p class="text">List of pages with example code:</p>
        <ol>
            <li class="link">
                Example add Material
                <a href="*" routerLink="/material" class="link-btn btn btn-sm btn-outline-info">View</a>
            </li>
            <li class="link">
                Example add bootstrap or css/scss in application
                <a href="*" routerLink="/bootstrap" class="link-btn btn btn-sm btn-outline-info">View</a>
            </li>
            <li class="link">
                Accordion
                <a href="*" routerLink="/accordion" class="link-btn btn btn-sm btn-outline-info">View</a>
            </li>
            <li class="link">
                Recursion functions
                <a href="*" routerLink="/" class="link-btn btn btn-sm btn-outline-info">View</a>
            </li>
            <li class="link">
                Example service
                <a href="*" routerLink="/" class="link-btn btn btn-sm btn-outline-info">View</a> &#160;
                <span class="badge badge-pill badge-info">on process</span>
            </li>
            <li class="link">
                Example pipe
                <a href="*" routerLink="/" class="link-btn btn btn-sm btn-outline-info">View</a> &#160;
                <span class="badge badge-pill badge-info">on process</span>
            </li>
            <li class="link">
                Data transfer between components
                <a href="*" routerLink="/" class="link-btn btn btn-sm btn-outline-info">View</a> &#160;
                <span class="badge badge-pill badge-info">on process</span>
            </li>
            <li class="link">
                Example API Methods
                <a href="*" routerLink="/" class="link-btn btn btn-sm btn-outline-info">View</a> &#160;
                <span class="badge badge-pill badge-info">on process</span>
            </li>
        </ol>
    </mat-card>
</div>