.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #1310b9dc;
    text-align: center;
}

.card {
    margin-left: 150px;
    margin-right: 150px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #0eb877dc;
}

.link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.link-btn {
    margin-left: 15px;
    border: 1px solid #0cd43edc;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #0cd43edc;
}