.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #1310b9dc;
    text-align: center;
}

.card {
    margin-left: 150px;
    margin-right: 150px;
    .text {
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        color: #c2c2c2;
    }
    .link {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        margin-bottom: 15px;
        color: #0ee0e7dc;
    }
    .link-btn {
        margin-left: 15px;
        font-size: 14px;
        border-radius: 15px;
        text-decoration: none;
        // border: 1px solid #0ee0e7dc;
        // padding: 5px;
        // font-family: 'Times New Roman', Times, serif;
        // color: #0ee0e7dc;
    }
}