<H1 class="title">Main Page</H1>
<div>
    <mat-card class="card">
        <p class="text">Code examples based on Angular 8.</p>
        <p class="text">List of pages with example code:</p>
        <ol>
            <li class="link">
                Accordion
                <a href="*" routerLink="/accordion" class="link-btn">View</a>
            </li>
            <li class="link"> Example service <a href="*" routerLink="/service" class="link-btn">View</a></li>
            <li class="link"> Example pipe <a href="*" routerLink="/" class="link-btn">View</a></li>
            <li class="link"> Data transfer between components <a href="*" routerLink="/" class="link-btn">View</a></li>
            <li class="link"> Example API Methods <a href="*" routerLink="/" class="link-btn">View</a></li>
        </ol>
    </mat-card>
</div>