<div class="container">
    <h1 class="title">Example add Material in app</h1>
    <span routerLink="/" class="back"><button mat-raised-button>Back</button></span>
    <div class="box-example">
        <h3 class="about">Follow these steps to install Material:</h3>
        <ol class="list-items">
            <li>Command in console app: ng add @angular/material</li>
            <li>
                <p>add in app.module.ts this code:</p>
                <pre><code>
                    <span>import </span>
                    <span>BrowserAnimationsModule</span>
                    <span> from '@angular/platform-browser/animations';</span>
                </code></pre>
            </li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p>Command in console app: ng add @angular/material</p>
        <pre>
            add in app.module.ts this code:
            
        </pre>
        <div></div>
        <p>Official documentation: <a href="https://material.angular.io/guide/getting-started" target="blank">link</a></p>
    </div>
</div>