<h1 class="title">Accordion Example</h1>
<span routerLink="/" class="back"><button mat-raised-button>Back</button></span>



<mat-tab-group class="tabs">
    <mat-tab>
        <ng-template mat-tab-label>
            <span style="color:blue;">Example View</span>
        </ng-template>
        <div class="cards">
            <mat-card class="card" *ngFor="let itm of data_json; let i = index;">
                <p class="card-title" (click)="Accordion('idx'+i)">{{ itm.title }}</p>
                <div class="card-text" *ngIf="isShown('idx'+i)">
                    <ol>
                        <li *ngFor="let itmx of itm.ingredients;">{{ itmx }}</li>
                    </ol>
                </div>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span style="color:blue;">HTML</span>
        </ng-template>
        <pre>
            {{ htmlcode.code }}
        </pre>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span style="color:blue;">TS</span>
        </ng-template>
        <pre>
            <code>
                {{ header_code.header }}
    show = null;
    data_json = {{ data_json | json }}
                {{ footer_code.footer }}
            </code>
        </pre>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span style="color:blue;">CSS</span>
        </ng-template>
        <code>
            /** No CSS for this example */
        </code>
    </mat-tab>
</mat-tab-group>