.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #1310b9dc;
    text-align: center;
}

.back {
    margin-left: 50px;
    background: url('../../assets/video/preview.jpg');
}

.df {
    background: url('src/assets/video/preview.jpg');
    width: 100px;
    height: 100px;
}