<h1 class="title">View Video files</h1>
<span routerLink="/" class="back"><button mat-raised-button>Back</button></span>

<div class="container">
    <div style="margin-top: 15px;">
        <mat-video spinner="hourglass" src="../../assets/video/video.mp4"></mat-video>
    </div>
    <div style="margin-top: 15px;">
        <mat-video
        title="'Over the Hills and Far Away' - Patty Gurdy (Gary Moore / Nightwish Hurdy Gurdy Cover)" 
        [autoplay]="false"
        [preload]="true" 
        [loop]= "false"
        [fullscreen]="false" 
        [download]="false" 
        spinner="hourglass" 
        poster= "../../assets/video/preview.jpg"
        [overlay]="true"
        >
            <source matVideoSource src="../../assets/video/video.mp4" type="video/mp4">
        </mat-video>
    </div>
</div>
